doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Online Shopp
    link(rel="stylesheet" href="/css/styles.css")
  body
    header
      nav
        ul
            li
                a(href="/login/dashboard") Home
            li
                a(href="/products") Products
            li
                a(href="/orders") Orders
            li
                a(href="/orders") Login
            li
                form(action="/logout" method="POST")
                    button(type="submit") Logout
